@keyframes slideOut {
  0% {
    transform: translateY(-100%);
    opacity: -1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 4em;
}
.navBar a:hover, .navBar .active {
  text-decoration: underline;
}
.navBar .navBarLink {
  display: flex;
  gap: 35px;
  font-weight: 500;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  .navBar img {
    height: 55px;
  }
  .navBar .navBarLink {
    font-size: 20px;
  }
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 4em 2.5em;
}
.banner img {
  width: 100%;
  object-fit: cover;
  filter: brightness(0.4);
  max-height: 220px;
  border-radius: 20px;
}
.banner h1 {
  position: absolute;
  color: white;
  font-size: 45px;
  font-weight: 600;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .banner > h1 {
    font-size: 35px;
    padding: 1em;
  }
  .banner img {
    max-height: 180px;
  }
}
.rentalsGrid {
  background-color: #F6F6F6;
  min-height: 500px;
  border-radius: 20px;
  justify-content: center;
  padding: 30px 25px;
  gap: 2em;
  margin-inline: 4em;
  display: grid;
  grid-template-columns: 0.4fr 0.4fr 0.4fr;
}
.rentalsGrid img {
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  border-radius: 10px;
  object-fit: cover;
  filter: brightness(90%);
}
.rentalsGrid .rental {
  display: flex;
  align-items: end;
  position: relative;
}
.rentalsGrid .rental .rentalTitle {
  position: absolute;
  color: white;
  font-weight: 600;
  margin: 13px;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .rentalsGrid {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    margin: 0;
  }
  .rentalsGrid .rental {
    min-width: 100%;
    min-height: 250px;
  }
}
@media screen and (max-width: 1024px) {
  .rentalsGrid {
    grid-template-columns: 1fr 1fr;
  }
}
.footer {
  height: 180px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.footer img {
  width: 150px;
}
.footer p {
  color: white;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-block: 2em;
    gap: 0;
  }
  .footer p {
    width: 30%;
  }
}
.errorTitle {
  display: flex;
  justify-content: center;
  color: #ff6060;
  font-size: 400px;
  margin: 50px;
  font-weight: 700;
}

.errorText {
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 4em;
  font-weight: 500;
  color: #ff6060;
}

.homeReturn {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 24px;
  margin: 150px 0;
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .errorTitle {
    font-size: 180px;
  }
  .errorText {
    font-size: 28px;
    padding-inline: 1px;
  }
}
.rentalPage {
  color: #ff6060;
  padding: 1.5em 4em;
}

.rentDescHeader {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.rentalDesc {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.rentalDesc .rentalDescTitle {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  background-color: #ff6060;
  padding: 0.7em;
  align-items: center;
  border-radius: 10px;
  color: white;
}
.rentalDesc .rentalDescTitle i {
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.rentalDesc p {
  background-color: #F6F6F6;
  color: black;
  padding: 0.8em;
  border-radius: 10px;
  position: relative;
  top: -1.2em;
  z-index: -1;
  animation: slideOut 0.3s ease-in-out;
  margin-bottom: 0;
}

.rentalEquipements {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.rentalEquipements .rentalEquipementsTitle {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  background-color: #ff6060;
  padding: 0.7em;
  align-items: center;
  border-radius: 10px;
  color: white;
  transition: transform 2s ease-in-out;
}
.rentalEquipements .rentalEquipementsTitle:active i {
  transform: rotate(180deg);
}
.rentalEquipements .rentalEquipementsTitle i {
  font-size: 30px;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}
.rentalEquipements p {
  background-color: #F6F6F6;
  color: black;
  padding: 0.8em;
  border-radius: 10px;
  position: relative;
  top: -1.2em;
  z-index: -1;
  animation: slideOut 0.3s forwards;
  margin-bottom: 0;
}
.rentalEquipements p li {
  list-style: none;
}

@media screen and (width <= 768px) {
  .rentDescHeader {
    flex-direction: column;
  }
  .rentDescHeader .rentalDesc, .rentDescHeader .rentalEquipements {
    width: 100%;
  }
}
.rentalHeader {
  display: flex;
}
.rentalHeader .rentalTitle {
  margin-bottom: 30px;
}

h1 {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 0;
}

h2 {
  color: black;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 5px;
}

.rentalTags {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  text-align: center;
}
.rentalTags span {
  background-color: #ff6060;
  color: white;
  font-weight: 700;
  padding: 0.5em 2.5em;
  border-radius: 10px;
}

.rentalOwnerDetails {
  margin-left: auto;
  width: 15%;
}
.rentalOwnerDetails .rentalOwner {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: end;
  gap: 10px;
  margin-top: 30px;
}
.rentalOwnerDetails .rentalOwner h3 {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding-left: 10em;
}

.rentalOwnerPic img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.rentalOwnerRating {
  display: flex;
  justify-content: end;
  font-size: 26px;
  gap: 15px;
  margin-top: 20px;
  color: #E3E3E3;
}
.rentalOwnerRating .on {
  color: #ff6060;
}

@media screen and (max-width: 768px) {
  .rentalHeader {
    flex-direction: column;
  }
  .rentalHeader .rentalTitle {
    margin-bottom: 0;
    margin-top: 15px;
  }
  .rentalHeader .rentalTitle h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .rentalHeader .rentalTitle h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .rentalHeader .rentalOwnerDetails {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  .rentalHeader .rentalOwnerDetails .rentalOwner {
    width: 15%;
  }
}
.aboutBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5em 4em;
}
.aboutBanner img {
  width: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  max-height: 220px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.aboutDesc {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  margin-bottom: 30px;
}
.aboutDesc .aboutDescTitle {
  display: flex;
  justify-content: space-between;
  font-size: 23px;
  font-weight: 700;
  background-color: #ff6060;
  padding: 0.5em;
  align-items: center;
  border-radius: 5px;
  color: white;
}
.aboutDesc .aboutDescTitle i {
  font-size: 30px;
  cursor: pointer;
}
.aboutDesc p {
  background-color: #F6F6F6;
  padding: 0.5em;
  border-radius: 10px;
  position: relative;
  top: -1.2em;
  z-index: -1;
  animation: slideOut 0.3s ease-in-out both;
}

@media screen and (max-width: 768px) {
  .aboutBanner img {
    max-height: 180px;
  }
  .aboutDesc {
    width: 100%;
  }
}
.carroussel {
  position: relative;
  width: 100%;
  min-height: 31rem;
}
.carroussel .carrousselCounter {
  position: absolute;
  color: white;
  bottom: 3%;
  left: 48%;
  font-size: 16px;
}
.carroussel .chevron {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 37%;
  color: white;
  font-size: 120px;
  cursor: pointer;
}
.carroussel .fa-chevron-left {
  left: 0.2em;
  z-index: 1;
}
.carroussel .fa-chevron-right {
  right: 0.2em;
}
.carroussel img {
  object-fit: cover;
  position: absolute;
  border-radius: 20px;
  width: 100%;
  max-height: 500px;
  min-height: 340px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.carroussel img.visible {
  opacity: 1;
}

@media screen and (max-width: 850px) {
  .carroussel {
    min-height: 20em;
  }
  .carroussel .chevron {
    font-size: 40px;
    top: 45%;
  }
  .carroussel img {
    max-height: 340px;
  }
  .carrousselCounter {
    opacity: 0;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .navBar, .banner, .rentalPage, .aboutBanner, .errorPage {
    padding: 1em 1em;
  }
}

/*# sourceMappingURL=main.css.map */
