.errorTitle {
    display: flex;
    justify-content: center;
    color: $secondColor;
    font-size: 400px;
    margin: 50px;
    font-weight: 700;
}
.errorText {
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4em;
    font-weight: 500;
    color: $secondColor;
}


.homeReturn {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
    margin: 150px 0;
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .errorTitle {
        font-size: 180px;
    }
    .errorText {
        font-size: 28px;
        padding-inline: 1px;
    }
}

