.footer {
    height: 180px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    img {
        width: 150px;    
    }
    p {
        color: white;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding-block: 3.4em;
        gap: 0;
        p {
            width: 30%;
        }
    }
}