@import "variables";
@import "nav";
@import "banner";
@import "rentalsGrid";
@import "footer";
@import "errorPage";
@import "rentalPage";
@import "rentalDesc";
@import "rentalDetails";
@import "about";
@import "rentalBanner";

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
  }

  a {
    color: black;
    text-decoration: none;
  }

  @media screen and (width <= 850px) {
    .navBar {
      padding: 1em 1em;
    }
    .banner {
      padding: 1em 1em;
    }
    .rentalPage {
      padding: 1em 1em;
    }
  }