.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include padding;
    & a:hover, & .active {
        text-decoration: underline;
      }
    .navBarLink {
        display: flex;
        gap: 65px; 
        font-weight: 500; 
        font-size: 22px;      
    }
}

@media screen and (max-width: 768px) {
    .navBar img {
        height: 50px;
    }
    .navBar .navBarLink {
        font-size: 18px;
        gap: 25px;
    }
}