.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include padding;
    & a:hover, & .active {
        text-decoration: underline;
      }
    .navBarLink {
        display: flex;
        gap: 35px; 
        font-weight: 500; 
        font-size: 22px;      
    }
}