.rentalsGrid {
    background-color: $greyBackground;
    min-height: 500px;
    border-radius: 20px;
    justify-content: center;
    padding: 30px 25px;
    gap: 2em;    
    margin-inline: 4em;
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 0.4fr;
    img {
        width: 100%;
        min-height: 300px;
        max-height: 300px;
        border-radius: 10px;
        object-fit: cover;
        filter: brightness(90%);
    }
    .rental {
        display: flex;
        align-items: end;
        position: relative;
        .rentalTitle{
            position: absolute;
            color: white;
            font-weight: 600;
            margin: 13px;
            width: 20%;
        }
    }
}

@media screen and (max-width: 768px) {
    .rentalsGrid {
        background-color: $whiteBackground;
        display: flex;
        flex-direction: column;
        padding: 1em 1em;
        margin: 0;
        .rental {
            min-width: 100%;
            min-height: 250px;
        }
    }
}


@media screen and (max-width: 1024px) {
    .rentalsGrid {
        grid-template-columns: 1fr 1fr;
    }
}
    
